#img-thumbnail::-webkit-scrollbar{
	background:none;
	width:3px;
}
#img-thumbnail::-webkit-scrollbar-thumb {
	background-color: rgba(154,154,154,1);
}

.active_thumb{
	background-color:rgb(100,100,100);
}

.active{
	display:initial;
}

.hide{
	display: none;
}

.panel-hide{
	left:-300px;
}

.panel-show{
	left:0;
}

