$full-page-width:100vw;
$full-page-height:100vh;
$base-zindex:1000;


%svg-base{
	fill: rgb(120,120,120);
	position:fixed;
	z-index: $base-zindex + 20;
	top: 20px;
}

%justify-content{
	display: flex;
    justify-content: center;
    align-items: center;
}

#overlay{
	position:absolute;
	width: $full-page-width;
	height: $full-page-height;
	background-color: rgb(35,39,42);
	z-index:$base-zindex;
	transition:transform 1s ease;
}
.popper {
    background: #333;
    color: white;
    font-weight: bold;
    margin-right:50px;
    font-size: 13px;
    border-radius: 4px;
}

#showSidePanel{
	@extend %svg-base;
	right:60px;
}

#quitOverlay{
	@extend %svg-base;
	right:20px;
}

#imgPlaceholder{
	text-align: center;
	margin-top: 50vh;
	transform: translateY(-50%);
}
#switch{
    width: 2rem;
    height: 6rem;
    position: absolute;
    left: 65vw;
	z-index:$base-zindex - 1;
}

#switch > div:nth-child(1) {
	background:orange;
	width:3px;
	height:60px;
	margin-left: 50%;
    transform: translateX(-50%);
    transition:height 1s ease-in;
}

#switch > div:nth-child(2) {
	background: black;
    border: solid 3px orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}


#change{
	width: $full-page-width;
	height: $full-page-height;
    z-index: $base-zindex+11;
    position: absolute;
    text-align: center;
    top:0;
}
#prev{
 	width: calc($full-page-width/2) - 5;
	height: $full-page-height;
    float: left;
}
#next{
	width: calc($full-page-width/2) - 5;
	height: $full-page-height;
    float: right;
}

#imgThumbnail{
	top: 0px;
    overflow: hidden visible;
    position: absolute;
    width: 10vw;
    height: $full-page-height;
    background: rgb(53, 53, 53);
    z-index: $base-zindex+21;
    transition: left 0.3s ease;
}
#imgThumbnail::-webkit-scrollbar{
	background:none;
	width:3px;
}
#imgThumbnail::-webkit-scrollbar-thumb {
	background-color: rgba(154,154,154,1);
}

.thumbnailIMG{
    position: absolute;
    z-index: $base-zindex+29;
}

img[id*="img_"]{
	height:85vh;
	transition: height 0.3s ease;
}

div[id*="thumbnail_"]{
    width: 10vw;
    height: 10em;
    @extend %justify-content;
}
div[id*="thumbnail_"] img{
	height: 9em;
}

.fade-enter-active, .fade-leave-active {
            transition: all 1s ease-in-out;
         }
.fade-enter, .fade-leave-to {
            transform :  translateY(-1000px);
            opacity:0;
}

.imgNumber{
    background: rgba(120, 120, 120, 0.5);
    visibility: hidden;
    width: inherit;
    height: inherit;
    z-index: $base-zindex+30;
    @extend %justify-content;
}

.textNumber {
	pointer-events: none;
	font-family: Calibri;
    font-size: 70px;
    color: black;
}

.active_thumbnail{
	background-color:rgb(100,100,100);
}
.active{
	display:initial;
}

.hide{
	display: none;
}

.panel-hide{
	left:-300px;
}

.panel-show{
	left:0;
}

footer{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
	z-index:1500;
}
.footer-svg > path:first-of-type{
	fill:white;
}
.footer-svg > path:last-of-type{
	fill:#e74c3c;
}

.fav{
	background: none;
    border: none;
}
